.userChatWrapper,.assistantChatWrapper{
    display: flex;
    justify-content: center;
    list-style: none;
    font-size:16px;
    text-align: left;
}
.userChatWrapper{
    background-color: #fff;
}
.assistantChatWrapper{
    background-color: #f5f5f5;
    border:1px solid #ccc;
    border-left:none;
    border-right:none;
}
.divWrapper{
    display: flex;
    justify-content: right;
    width:700px;
    text-align: left;
}

.imgContent{
    height: 31.5px;
    width: 31.5px;
}
.leftDiv{
    margin-top: 10px;
    width: 35px;
}
.rightDiv{
   flex-grow: 1;
   margin:10px 0px 20px 20px;
}
.cursor{
    content:'';
    position: absolute;
    width: 10px;
    height: 16px;
    background-color: #314659;
    animation:toggle 0.6s infinite;
    opacity: 0;
    transform:translateY(3px);
    left:calc(v-bind('pos.x')*1px);
    top:calc(v-bind('pos.y')*1px);
  }
  @keyframes toggle{
    30%{
      opacity:1;
    }
  }